.main{
    background-color: #164A41;
}



.title{
    position: absolute;
    top: 200px;
    left: 200px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    box-shadow: 5px 10px;
}

:root{
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
}
body{
    margin: 0;
    font-family: -apple-system, BlinkMacSyste,Font;

}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.menu-trigger img {
    position: absolute;
    top: 200px;
    left: 200px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.left-div{
}

.dropdown-menu{
    position: absolute;
    top: 290px;
    left: 50px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;

}

.dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 40px;
    height: 40px;

    background: var(--secondary-bg);
    transform: rotate(45deg);
    width: 20px;

}

h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-text-color);
    line-height: 1.2rem;
}

h3 span{
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 400;

}

.dropdown-menu ul li {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.dropdown-menu ul li:hover a{
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.dropdown-item{
    display: flex;
    margin: 10px auto;
}

.dropdown-item a{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}

* {
    box-sizing: border-box;
}*



 .navv{
     top: 0px;
     background-color: #333;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 2rem;
     padding: 0 1rem;


 }

.navv ul li{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

.navv a{
    color: inherit;
    text-decoration: none;
}



.navv li.activate{
    background-color: #555;
}

.navv li.hover{
    background-color: #333;
}

.site-title{
    font-size: 3rem;
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive{
    opacity: 1;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.menu-container{
    height: 300px;
}


.left-div{
    top: 0px;
    position: absolute;
    left: 0px;
    height: 1037px;
    width: 13%;
}

.search_bar{
    position: absolute;
    top: 100px;
    width: 50%;
    height: 25px;
    border: none;


}

h2{
    color: white;
    font-size: 2.5em;
}



.brp_logo img {
    position: absolute !important;
    top: 20px !important;
    left: 90px !important;
    height: 60px !important;
    width: 60px !important;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}